
h1{
	border-radius: 50px 10px ;
  	background: #39d462;
  	width: 350px;
  	height: 75px;
  	text-align: center;
  	line-height: 75px;
  	vertical-align: middle;
}

body {
  font-size: 20px;
  background: #e6e6e6;
}

footer {
   position: absolute;
   bottom: 25;
   width: 98%;
   height: 30px; 
   text-align: center;
   font-size: 15;
   padding: 5;
   line-height: 1.5;
}

img {
  border: 7px outset #2cd8e8;
}

a:link{
	text-decoration: none;
	padding: 10;
}

a:hover{
	background-color: #731fa1;
	color: #c2c2c2;
	padding: 10;
}