@charset "utf-8";
/* CSS Document */
song {display:block; border-bottom: 2px solid #82000d; padding : 10px 0; background: #009682;}
song artist {font-size: 30px; font-weight: 700;}
song title {display:block;}
song title {font-size: 25px; font-weight: 650;}
song genre {display:block;}
song genre:before {content:"Genre: "; }
song year {display:block;}
song year:before {content:"Year: "; }